body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: lime;
  font-size: 60px;
  font-family: monospace;
  margin: 0;
}

#Clock{
  border: 2px solid lime;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px lime;
}
